pkgbase = electrs
	pkgdesc = An efficient re-implementation of Electrum Server in Rust
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/romanz/electrs
	install = electrs.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = clang
	makedepends = cmake
	makedepends = rust
	depends = rocksdb
	provides = electrs
	backup = etc/electrs/config.toml
	source = https://github.com/romanz/electrs/archive/v0.9.5/electrs-0.9.5.tar.gz
	source = 10-rocksdb.patch
	source = 11-rocksdb-locked.patch
	source = 12-db.rs.patch
	source = config.toml
	source = electrs@.service
	source = electrs.sysuser
	validpgpkeys = 15C8C3574AE4F1E25F3F35C587CAE5FA46917CBB
	sha256sums = d95c1603bc4672c5fecacf47f44eaf187fbdfd70f677f8820a64f6ea3e082343
	sha256sums = 2da98231c92136839c26d200d2158aa91efb651d27ba8558872efcf7bb15e138
	sha256sums = d1c2fb6f6a06d1fe6576aab3ddd04efda109dd5e4f502dc73f95dab03c5c1a9c
	sha256sums = 458020df059d271e69e88998d805654ad827193ea19634040c27f099339527a3
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = electrs
