pkgbase = electrs
	pkgdesc = An efficient re-implementation of Electrum Server in Rust
	pkgver = 0.9.13
	pkgrel = 1
	url = https://github.com/romanz/electrs
	install = electrs.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = clang
	makedepends = cmake
	makedepends = rust
	depends = rocksdb
	provides = electrs
	backup = etc/electrs/config.toml
	source = https://github.com/romanz/electrs/archive/v0.9.13/electrs-0.9.13.tar.gz
	source = config.toml
	source = electrs@.service
	source = electrs.sysuser
	validpgpkeys = 15C8C3574AE4F1E25F3F35C587CAE5FA46917CBB
	sha256sums = 7e1273998d78263173d2f17987a8623a29718751f1ad13f49c67e88221381211
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = electrs
